.center {
    display: flex;
    justify-content: center;
    align-items: centre;
    color: white;
}

h1 {
    font-size: clamp(1.5rem, 4vw, 3rem);
}

h2 {
    font-size: clamp(1.5rem, 4vw, 3rem);
    margin-top: 100px;
}

body {
    background-color: rgb(56, 62, 72);
}

ul {
    list-style-type: none;
    background-color: #b4b4b4;
    overflow: hidden;
    margin: 50px;
    padding: 0px 20px;
    border-radius: 50px;

    width: 57%;
    max-width: 2400px;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: centre;
    padding: 30px 60px;
    text-decoration: none;
    font-size: clamp(1.5rem, 4vw, 2rem);
}

.image-director {
    position: relative;
    max-width: 2400px;
    width: 100%;
    height: auto;
    left: 1550px;

}