h1 {
    margin-left: 160px;
    margin-top: 45px;
    color: white;
}

h2 {
    margin-left: 300px;
    margin-top: 65px;
    color: white;
}

.more {
    margin-left: 240px;
}

body {
    background-color: rgb(56, 62, 72);
}

ul {
    list-style-type: none;
    background-color: #b4b4b4;
    overflow: hidden;
    margin: 0;
    padding: 0;
    margin-top: 50px;
}

ul li {
    float: left;
}

ul li a {
    display: block;
    color: white;
    text-align: centre;
    padding: 14px 16px;
    text-decoration: none;
}